@media only screen and (max-width: 767px) {
  .mean-container a.meanmenu-reveal {
    top: 28px;
  }
  .popup-button {
    position: relative;
    top: 4px;
  }
  .mobile-nav .logo {
    top: 13px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .ptb-140 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-140 {
    padding-top: 50px;
  }
  .pb-140 {
    padding-bottom: 50px;
  }
  .pl-70 {
    padding-left: 0px;
  }
  .pl-30 {
    padding-left: 0px;
  }
  .section-heading h3 {
    font-size: 36px;
  }
  .topbar {
    overflow: hidden;
  }
  .topbar .topbar-leftside .topbar-social-links {
    margin-left: auto;
    margin-right: auto;
  }
  .topbar .topbar-leftside .topbar-social-links ul {
    padding-left: 5px;
  }
  .topbar .topbar-leftside .topbar-social-links ul li a {
    margin-left: 0;
  }
  .topbar .topbar-leftside::before {
    right: -999px;
  }
  .topbar .tobar-rightSide {
    justify-content: center;
  }
  .topbar-rightSide-contact-card {
    margin-right: 0;
    padding-right: 20px;
    padding-left: 32px;
  }
  .topbar-rightSide-contact-card a {
    font-size: 14px;
  }
  .topbar-rightSide-contact-card iconify-icon {
    font-size: 28px;
  }
  .banner .banner-content {
    width: 100%;
    text-align: center;
  }
  .mission .mission-content h3 {
    font-size: 36px;
  }
  .mission .mission-content p {
    font-size: 16px;
  }
  .features {
    padding-top: 0 !important;
    padding-bottom: 70px !important;
  }
  .features-card {
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .features-card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .features-card p {
    font-size: 10px;
  }
  .features-card-image {
    margin-top: 60px;
    text-align: center;
  }
  .features-card-image img {
    width: 90%;
  }
  .article-card .articles-img {
    margin-right: 20px;
  }
  .article-card .article-text-area h3 a {
    font-size: 18px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .partner-logos {
    flex-wrap: wrap;
  }
  .partner-logos img {
    width: 120px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer::before {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  }
  .footer::after {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }
  .footer .pl-70 {
    margin-top: 0;
  }
  .footer .footer-links {
    margin-top: 30px;
  }
  .footer .footer-links ul li a {
    font-size: 14px;
  }
  .copyright .copyright-content {
    justify-content: center;
  }
  .copyright .copyright-content p {
    font-size: 14px;
  }
  .accreditation h3 {
    font-size: 28px;
    line-height: 27px;
  }
  .accreditation p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .accreditation .logo-single-accreditation {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .inner-page-banner .banner-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-page-banner .banner-content h1 {
    font-size: 28px;
  }
  .inner-page-banner .banner-content .banner-subtitle {
    width: 100%;
  }
  .inner-page-banner .banner-content .banner-subtitle ul {
    padding: 12px 36px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul li {
    font-size: 16px;
  }
  .calendar h4 {
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 26px;
  }
  .calendar h3 {
    padding-top: 30px;
    line-height: 40px;
    font-size: 26px;
  }
  .philosophy .philosophy-wrapper h3 {
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 32px;
  }
  .philosophy .philosophy-wrapper p {
    padding-top: 24px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .philosophy .philosophy-wrapper ul {
    padding-left: 25px;
  }
  .philosophy .philosophy-wrapper ul li {
    position: relative;
    padding-left: 18px;
    margin-top: 6px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primaryFont);
  }
  .philosophy .philosophy-wrapper ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 1px;
    width: 6px;
    height: 6px;
    outline-offset: 2px;
  }
  .community h3 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
  }
  .join p {
    padding-top: 16px;
    color: var(--textColor);
    font-size: 14px;
    line-height: 22px;
  }
  .join h4 {
    padding-bottom: 32px;
    font-size: 30px;
    line-height: 24px;
  }
  .join h3 {
    font-size: 36px;
    line-height: 30px;
  }
  .join .join-card {
    margin-top: 32px;
  }
  .join .join-card .join-card-image {
    background-color: #d9d9d9;
    height: 334px;
    width: 100%;
    border-radius: 8px;
  }
  .join .join-banner {
    margin-top: 32px;
    background-color: #d9d9d9;
    height: 500px;
    width: 100%;
    border-radius: 8px;
  }
  .learn .learn-wrapper h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .learn .learn-wrapper p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .learn .learn-wrapper .learn-image-wrapper {
    padding-top: 24px;
  }
  .learn .learn-wrapper .learn-image-wrapper .list-style {
    list-style-type: none;
    padding-left: 25px;
  }
  .learn .learn-wrapper .learn-image-wrapper .list-style li a {
    color: var(--blueColor) !important;
  }
  .association .parent-association {
    padding-bottom: 30px;
  }
  .association .parent-association h3 {
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 30px;
  }
  .association .parent-association p {
    font-size: 14px;
    line-height: 22px;
  }
  .association .parent-association p a {
    text-decoration: underline;
    color: var(--yellowColor);
  }
  .association .association-event h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  .association .association-event h4 {
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
  }
  .association .association-event p {
    color: var(--textColor);
    font-size: 16px;
    line-height: 22px;
  }
  .association .association-event .list-style {
    padding-left: 50px;
    padding-top: 15px;
    color: var(--blueColor);
  }
  .recruitment p {
    margin-bottom: 0px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .recruitment h3 {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 30px;
  }
  .recruitment .recruitment-image {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .recruitment .recruitment-image img {
    border-radius: 8px;
  }
  .recruitment .recruitment-content-single {
    margin-top: 20px;
  }
  .recruitment .recruitment-content-single h6 {
    font-size: 20px;
    line-height: 26px;
  }
  .recruitment .blue-button {
    margin-top: 20px;
  }
  .recruitment .blue-button iconify-icon {
    position: relative;
    top: 5px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .topbar {
    overflow: hidden;
  }
  .topbar .topbar-leftside::before {
    right: 0px;
  }
  .topbar .tobar-rightSide {
    justify-content: end;
  }
  .program-card {
    margin-top: 20px;
  }
  .program-card img {
    width: 100%;
  }
  .program-card .program-card-title {
    position: absolute;
    opacity: 1;
    color: var(--whiteColor);
    font-size: 26px;
    font-weight: 700;
    font-family: var(--primaryFont);
    right: 50%;
    transform: translate(50%, 50%);
  }
  .program-card .program-card-text {
    height: 100%;
    padding: 11px 10px;
    opacity: 0;
    background-color: #707070;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  .program-card .program-card-text h3 a {
    color: var(--blueColor);
    font-size: 28px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card .program-card-text p {
    font-size: 18px;
    line-height: 26px;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-title {
    top: 100px;
    color: #fff;
    opacity: 0;
  }
  .program-card:hover .program-card-text {
    opacity: 0.9;
  }
  .program-card:hover .program-card-text h3 {
    padding-top: 70px;
  }
  .program-card:hover .program-card-text h3 a {
    color: var(--whiteColor);
    font-size: 28px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-text p {
    top: 100px;
    color: #ffffff;
  }
  .school .our-campus .school-image .school-video {
    border-radius: 15px;
    width: 100%;
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mean-container a.meanmenu-reveal {
    top: 28px;
  }
  .popup-button {
    position: relative;
    top: 4px;
  }
  .mobile-nav .logo {
    top: 13px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .ptb-140 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-140 {
    padding-top: 80px;
  }
  .pb-140 {
    padding-bottom: 80px;
  }
  .pl-70 {
    padding-left: 0px;
  }
  .pl-30 {
    padding-left: 0px;
  }
  .section-heading h3 {
    font-size: 36px;
  }
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .features-card h3 {
    font-size: 22px;
  }
  .features-card p {
    font-size: 14px;
  }
  .features-card-image img {
    width: 100%;
  }
  .article-card .articles-img {
    margin-right: 20px;
  }
  .article-card .article-text-area h3 a {
    font-size: 18px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .partner-logos img {
    width: 120px;
  }
  .footer .pl-70 {
    margin-top: 0;
  }
  .program-card img {
    width: 100%;
  }
  .program-card .program-card-title {
    position: absolute;
    opacity: 1;
    color: var(--whiteColor);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--primaryFont);
    right: 50%;
    transform: translate(50%, 50%);
  }
  .program-card .program-card-text {
    height: 100%;
    padding: 11px 10px;
    opacity: 0;
    background-color: #707070;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  .program-card .program-card-text h3 a {
    color: var(--blueColor);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card .program-card-text p {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-title {
    top: 50px;
    color: #fff;
    opacity: 0;
  }
  .program-card:hover .program-card-text {
    opacity: 0.9;
    top: 0;
  }
  .program-card:hover .program-card-text h3 a,
  .program-card:hover .program-card-text p {
    color: #ffffff;
  }
  .school .our-campus .school-image .school-video {
    border-radius: 15px;
    width: 100%;
    height: 400px;
  }
  .accreditation h3 {
    color: var(--headerColor);
    font-family: var(--primaryFont);
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
  }
  .accreditation p {
    padding-top: 18px;
    font-size: 16px;
    line-height: 24px;
  }
  .accreditation .logo-single-accreditation {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  .accreditation .logo-single-accreditation .accreditation-image {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pl-70 {
    padding-left: 30px;
  }
  .ptb-140 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pt-140 {
    padding-top: 100px;
  }
  .pb-140 {
    padding-bottom: 100px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .program-card img {
    width: 100%;
  }
  .program-card .program-card-title {
    position: absolute;
    opacity: 1;
    color: var(--whiteColor);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--primaryFont);
    right: 50%;
    transform: translate(50%, 50%);
  }
  .program-card .program-card-text {
    height: 100%;
    padding: 11px 10px;
    opacity: 0;
    background-color: #707070;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  .program-card .program-card-text h3 a {
    color: var(--blueColor);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card .program-card-text p {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-title {
    top: 50px;
    color: #fff;
    opacity: 0;
  }
  .program-card:hover .program-card-text {
    opacity: 0.9;
    top: 0;
  }
  .program-card:hover .program-card-text h3 a,
  .program-card:hover .program-card-text p {
    color: #ffffff;
  }
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
  }
  .features-card h3 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  .features-card p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .features-card-image img {
    width: 100%;
  }
  .article-card .articles-img {
    margin-right: 15px;
  }
  .article-card .article-text-area h3 a {
    font-size: 16px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .inner-page-banner .banner-content {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .inner-page-banner .banner-content h1 {
    font-size: 44px;
  }
  .inner-page-banner .banner-content .banner-subtitle {
    bottom: -25px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul {
    padding: 12px 36px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul li {
    font-size: 16px;
  }
  .inner-about-img {
    margin-bottom: 30px;
  }
  .about-details-text {
    margin-left: 0;
  }
  .about-details-text-area h4 {
    text-align: center;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .article-card .article-text-area h3 a {
    font-size: 20px;
  }
  .program-card img {
    width: 100%;
  }
  .program-card .program-card-title {
    position: absolute;
    opacity: 1;
    color: var(--whiteColor);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--primaryFont);
    right: 50%;
    transform: translate(50%, 50%);
  }
  .program-card .program-card-text {
    height: 100%;
    padding: 11px 10px;
    opacity: 0;
    background-color: #707070;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  .program-card .program-card-text h3 a {
    color: var(--blueColor);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card .program-card-text p {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-title {
    top: 50px;
    color: #fff;
    opacity: 0;
  }
  .program-card:hover .program-card-text {
    opacity: 0.9;
    top: 0;
  }
  .program-card:hover .program-card-text h3 a,
  .program-card:hover .program-card-text p {
    color: #ffffff;
  }
  .about-details-text p {
    font-size: 14px;
  }
  .about-details-text-area .about-details-img p {
    line-height: 1.5;
    font-size: 16px;
  }
  .features-card {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 65px;
  }
  .features-card h3 {
    font-size: 34px;
  }
  .features-card p {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .features-card {
    text-align: center;
    border-radius: 5px;
    padding: 70px 70px 0px;
    border: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .features-card h3 {
    color: var(--whiteColor);
    font-size: 40px;
    font-weight: 700;
    font-family: var(--primaryFont);
    margin-bottom: 40px;
  }
  .features-card p {
    color: var(--whiteColor);
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 50px;
  }
  .features-card .default-button {
    position: relative;
    color: var(--whiteColor);
    border-color: var(--yellowColor);
    background-color: var(--yellowColor);
    top: 23px;
  }
}
@media only screen and (max-width: 576px) {
  .program-card {
    margin-top: 20px;
  }
  .program-card img {
    width: 100%;
  }
  .program-card .program-card-title {
    position: absolute;
    opacity: 1;
    color: var(--whiteColor);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--primaryFont);
    right: 50%;
    transform: translate(50%, 50%);
  }
  .program-card .program-card-text {
    height: 100%;
    padding: 11px 10px;
    opacity: 0;
    background-color: #707070;
    transition: 0.5s ease-in-out;
    position: absolute;
  }
  .program-card .program-card-text h3 a {
    color: var(--blueColor);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--primaryFont);
  }
  .program-card .program-card-text p {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--primaryFont);
  }
  .program-card:hover .program-card-title {
    top: 50px;
    color: #fff;
    opacity: 0;
  }
  .program-card:hover .program-card-text {
    padding: 10px;
    opacity: 0.9;
    top: 0;
  }
  .program-card:hover .program-card-text h3 a,
  .program-card:hover .program-card-text p {
    color: #ffffff;
  }
  .school h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .school p {
    padding-top: 14px;
    font-size: 14px;
    line-height: 22px;
  }
  .school .our-campus .school-image {
    padding-top: 25px;
    width: 100%;
  }
  .school .our-campus .school-image .school-video {
    border-radius: 15px;
    width: 100%;
    height: 240px;
  }
  .school .experience-campus {
    padding-top: 40px;
  }
  .school .experience-campus .school-image {
    width: 100%;
    padding-top: 28px;
  }
  .school .map-campus {
    width: 100%;
    max-height: 550px;
  }
  .school .accridation-campus .campus-single-accridation {
    display: flex;
    justify-content: space-between;
  }
  .school .accridation-campus .campus-single-accridation .accridation-image {
    width: 100%;
  }
  .school .accridation-campus .campus-single-accridation .accridation-image img {
    width: 100%;
  }
}/*# sourceMappingURL=responsive.css.map */