@media only screen and (max-width: 767px) {
  .mean-container a.meanmenu-reveal {
    top: 28px;
  }
  .popup-button {
    position: relative;
    top: 4px;
  }
  .mobile-nav .logo {
    top: 13px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .ptb-140 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-140 {
    padding-top: 50px;
  }
  .pb-140 {
    padding-bottom: 50px;
  }
  .pl-70 {
    padding-left: 0px;
  }
  .pl-30 {
    padding-left: 0px;
  }
  .section-heading h3 {
    font-size: 36px;
  }
  .mission .mission-content h3 {
    font-size: 36px;
  }
  .mission .mission-content p {
    font-size: 16px;
  }
  .features-card {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .features-card h3 {
    font-size: 24px;
  }
  .article-card .articles-img {
    margin-right: 20px;
  }
  .article-card .article-text-area h3 a {
    font-size: 18px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .partner-logos img {
    width: 120px;
  }
  .footer {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .footer::before {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  }
  .footer::after {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }
  .footer .pl-70 {
    margin-top: 0;
  }
  .footer .footer-links {
    margin-top: 30px;
  }
  .footer .footer-links ul li a {
    font-size: 14px;
  }
  .copyright .copyright-content {
    justify-content: center;
  }
  .copyright .copyright-content p {
    font-size: 14px;
  }
  .accreditation h3 {
    font-size: 28px;
    line-height: 27px;
  }
  .accreditation p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .accreditation .logo-single-accreditation {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .inner-page-banner .banner-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-page-banner .banner-content h1 {
    font-size: 28px;
  }
  .inner-page-banner .banner-content .banner-subtitle {
    width: 100%;
  }
  .inner-page-banner .banner-content .banner-subtitle ul {
    padding: 12px 36px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul li {
    font-size: 16px;
  }
  .calendar h4 {
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 26px;
  }
  .calendar h3 {
    padding-top: 30px;
    line-height: 40px;
    font-size: 26px;
  }
  .philosophy .philosophy-wrapper h3 {
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 32px;
  }
  .philosophy .philosophy-wrapper p {
    padding-top: 24px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .philosophy .philosophy-wrapper ul {
    padding-left: 25px;
  }
  .philosophy .philosophy-wrapper ul li {
    position: relative;
    padding-left: 18px;
    margin-top: 6px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primaryFont);
  }
  .philosophy .philosophy-wrapper ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 1px;
    width: 6px;
    height: 6px;
    outline-offset: 2px;
  }
  .community h3 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
  }
  .join p {
    padding-top: 16px;
    color: var(--textColor);
    font-size: 14px;
    line-height: 22px;
  }
  .join h4 {
    padding-bottom: 32px;
    font-size: 30px;
    line-height: 24px;
  }
  .join h3 {
    font-size: 36px;
    line-height: 30px;
  }
  .join .join-card {
    margin-top: 32px;
  }
  .join .join-card .join-card-image {
    background-color: #d9d9d9;
    height: 334px;
    width: 100%;
    border-radius: 8px;
  }
  .join .join-banner {
    margin-top: 32px;
    background-color: #d9d9d9;
    height: 500px;
    width: 100%;
    border-radius: 8px;
  }
  .learn .learn-wrapper h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .learn .learn-wrapper p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .learn .learn-wrapper .learn-image-wrapper {
    padding-top: 24px;
  }
  .learn .learn-wrapper .learn-image-wrapper .list-style {
    list-style-type: none;
    padding-left: 25px;
  }
  .learn .learn-wrapper .learn-image-wrapper .list-style li a {
    color: var(--blueColor) !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mean-container a.meanmenu-reveal {
    top: 28px;
  }
  .popup-button {
    position: relative;
    top: 4px;
  }
  .mobile-nav .logo {
    top: 13px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .ptb-140 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-140 {
    padding-top: 80px;
  }
  .pb-140 {
    padding-bottom: 80px;
  }
  .pl-70 {
    padding-left: 0px;
  }
  .pl-30 {
    padding-left: 0px;
  }
  .section-heading h3 {
    font-size: 36px;
  }
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .features-card h3 {
    font-size: 24px;
  }
  .article-card .articles-img {
    margin-right: 20px;
  }
  .article-card .article-text-area h3 a {
    font-size: 18px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .partner-logos img {
    width: 120px;
  }
  .footer .pl-70 {
    margin-top: 0;
  }
  .accreditation h3 {
    color: var(--headerColor);
    font-family: var(--primaryFont);
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
  }
  .accreditation p {
    padding-top: 18px;
    font-size: 16px;
    line-height: 24px;
  }
  .accreditation .logo-single-accreditation {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  .accreditation .logo-single-accreditation .accreditation-image {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pl-70 {
    padding-left: 30px;
  }
  .ptb-140 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pt-140 {
    padding-top: 100px;
  }
  .pb-140 {
    padding-bottom: 100px;
  }
  .default-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .program-card {
    padding: 10px;
  }
  .program-card .program-card-text h3 a {
    font-size: 18px;
  }
  .program-card .program-card-text p {
    font-size: 12px;
  }
  .program-card .program-card-text .program-card-bottom-area img {
    width: 35px;
  }
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .features-card h3 {
    font-size: 32px;
  }
  .article-card .articles-img {
    margin-right: 15px;
  }
  .article-card .article-text-area h3 a {
    font-size: 16px;
  }
  .article-card .article-text-area ul li {
    font-size: 12px;
  }
  .article-card .article-text-area .article-card-header .article-date {
    width: 56px;
    height: 56px;
    font-size: 16px;
    bottom: 10px;
  }
  .inner-page-banner .banner-content {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .inner-page-banner .banner-content h1 {
    font-size: 44px;
  }
  .inner-page-banner .banner-content .banner-subtitle {
    bottom: -25px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul {
    padding: 12px 36px;
  }
  .inner-page-banner .banner-content .banner-subtitle ul li {
    font-size: 16px;
  }
  .inner-about-img {
    margin-bottom: 30px;
  }
  .about-details-text {
    margin-left: 0;
  }
  .about-details-text-area h4 {
    text-align: center;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .article-card .article-text-area h3 a {
    font-size: 20px;
  }
  .about-details-text p {
    font-size: 14px;
  }
  .about-details-text-area .about-details-img p {
    line-height: 1.5;
    font-size: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */