@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primaryFont: "Lato", sans-serif;
  --blueColor: #294269;
  --yellowColor: #f09020;
  --whiteColor: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Default CSS
a {
  display: inline-block;
  text-decoration: none;
  color: var(--blackColor);
  font-family: var(--primaryFont);
}

p {
  line-height: 1.8;
  margin-bottom: 15px;
  color: var(--textColor);
  font: {
    size: 16px;
    family: var(--primaryFont);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

.ptb-140 {
  padding: {
    top: 140px;
    bottom: 140px;
  }
}

.pt-140 {
  padding-top: 140px;
}

.pb-140 {
  padding-bottom: 140px;
}

.bg-F1F5F9 {
  background-color: #f1f5f9;
}

.default-button {
  padding: 12px 20px;
  border: 1px solid #294269;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  color: var(--blueColor);
  transition: .5s ease-in-out;
  font: {
    size: 16px;
    weight: 400;
    family: var(--primaryFont)
  };
  iconify-icon {
    padding-left: 10px;
    font-size: 20px;
    position: relative;
    top: 1px;
  }

  &:hover {
    color: var(--whiteColor);
    background-color: var(--blueColor);
  }
}

// Section Heading
.section-heading {
  text-align: center;
  h6 {
    color: var(--yellowColor);
    font: {
      size: 20px;
      weight: 400;
      family: var(--primaryFont);
    }
  }

  h3 {
    color: var(--blueColor);
    line-height: 1.2;
    font: {
      size: 48px;
      weight: 700;
      family: var(--primaryFont);
    }
  }
}

// TopBar Area Start
.topbar {
  background-color: var(--blueColor);
  .topbar-leftside {
    background-color: var(--yellowColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    &::before {
      content: "";
      height: 100%;
      width: 9999px;
      // clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
      background-color: var(--yellowColor);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    .topbar-social-links {
      position: relative;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      span {
        color: var(--whiteColor);
        font: {
          size: 16px;
          weight: 400;
          family: var(--primaryFont);
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          a {
            font-size: 18px;
            color: #fff;
            position: relative;
            top: 3px;
            margin-left: 12px;
          }
        }
      }
    }
  }
}

.tobar-rightSide {
  display: flex;
  align-items: center;
  justify-content: end;

  padding: {
    top: 10px;
    bottom: 10px;
  }
}

.topbar-rightSide-contact-card {
  position: relative;
  padding-left: 45px;
  margin-right: 10px;
  padding-right: 30px;

  iconify-icon {
    color: var(--yellowColor);
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s ease-in-out;
  }

  p {
    margin: 0;
    line-height: 18px;
    color: var(--whiteColor);
    font: {
      size: 12px;
      weight: 400;
      family: var(--primaryFont);
    }
  }

  a {
    color: var(--whiteColor);
    font: {
      size: 16px;
      weight: 400;
      family: var(--primaryFont);
    }
  }

  &:hover {
    iconify-icon {
      transform: translateY(-50%) scale(1.1);
    }
  }

  &::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgba($color: #e2ddda, $alpha: 1);
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    &::after {
      display: none;
    }
  }
}

// Banner Area
.banner {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .banner-video {
    width: 100%;
  }

  .banner-content {
    // padding: {
    //   top: 200px;
    //   bottom: 225px;
    // };
  }
}

// Program Area CSS
.program-card {
  margin-top: 30px;
  transition: .5s ease-in-out;
  background-color: var(--whiteColor);
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  &::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--yellowColor);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
  }
  .program-card-img {
    border-radius: 5px;
    overflow: hidden;
    img {
      transition: .5s ease-in-out;
    }
  }
  .program-card-text {
    padding: {
      left: 10px;
      right: 10px;
    };

    h3 {
      a {
        color: var(--blueColor);
        padding: {
          top: 24px;
          bottom: 5px;
        }
        font: {
          size: 20px;
          weight: 700;
          family: var(--blueColor);
        }
      }
    }

    p {
      color: var(--blueColor);
      font: {
        size: 14px;
        weight: 400;
        family: var(--primaryFont)
      };
    }

    .program-card-bottom-area {
      padding-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #29426950;
    }
  }

  &:hover {
    box-shadow: 0px 0px 10px 5px #00000010;
    .program-card-img {
      img {
        transform: scale(1.2);
      }
    }
    &::before {
      width: 100%;
    }

    .program-card-text {
      .program-card-bottom-area {
        img {
          animation: swing 1s infinite linear;
        }
      }
    }
  }
}

// Features Area CSS
.features {
  position: relative;
  background: {
    image: url('../images/featuresBG.jpg');
    position: center center;
    repeat: no-repeat;
    size: cover;
  };
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($color: #294269, $alpha: 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.features-card {
  text-align: center;
  border-radius: 5px;
  padding: 60px 60px 0px;
  border: 1px solid #ffffff80;
  h3 {
    color: var(--whiteColor);
    margin-bottom: 12px;
    font: {
      size: 36px;
      weight: 700;
      family: var(--primaryFont)
    };
  }

  p {
    color: var(--whiteColor);
    line-height: 1.4;
  }
  
  .default-button {
    position: relative;
    color: var(--whiteColor);
    border-color: var(--yellowColor);
    background-color: var(--yellowColor);
    top: 23px;
  }
}