.alumni {
    .alumni-wrapper {
        h3 {
            color: var(--headerColor);
            font: {
                family: var(--primaryFont);
                size: 36px;
                weight: 700;
            }
            line-height: 43.2px;
        }
        p {
            color: var(--textColor);
            font: {
                size: 18px;
                family: var(--primaryFont);
            }

            line-height: 27px;
            a {
                color: var(--yellowColor);
                font: {
                    size: 18px;
                    family: var(--primaryFont);
                }
            }
        }

        .alumni-wrapper-group {
            padding-top: 24px;
            .alumni-card {
                padding-bottom: 70px;
                .alumni-image {
                    border-radius: 50%;
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                    background-color: #f1f5f9;
                }
                .alumni-text {
                    margin-top: 10px;
                    .header {
                        margin-bottom: 20px;
                        h3 {
                            font-size: 30px;
                        }
                        p {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .alumni-wrapper {
        h3 {
            font-size: 24px;
        }
        .alumni-wrapper-group {
            .alumni-card {
                .order1 {
                    order: 1 !important;
                }
                .order2 {
                    order: 2 !important;
                }
                text-align: center;
                padding-bottom: 20px;

                .alumni-image {
                    margin-top: 30px;
                }
                .alumni-text {
                    .header {
                        margin-bottom: 10px;
                        h3 {
                            font-size: 26px;
                            line-height: 30px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        p {
            font-size: 16px;
            a {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .alumni-wrapper {
        h3 {
            font-size: 36px !important;
        }
        .alumni-wrapper-group {
            .alumni-card {
                .order1 {
                    order: 1 !important;
                }
                .order2 {
                    order: 2 !important;
                }
                text-align: center;
                padding-bottom: 20px !important;
                h3 {
                    font-size: 34px !important;
                }
                .alumni-image {
                    margin-top: 30px !important;
                }
                .alumni-text {
                    .header {
                        margin-bottom: 10px !important;
                        h3 {
                            font-size: 28px !important;
                            line-height: 30px !important;
                        }
                        p {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    p {
                        font-size: 16px !important;
                        line-height: 24px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .alumni-wrapper {
        h3 {
            font-size: 34px !important;
        }
        .alumni-image {
            margin-top: 30px !important;
        }
        .alumni-text {
            .header {
                h3 {
                    font-size: 28px !important;
                    line-height: 30px !important;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            p {
                font-size: 16px !important;
                line-height: 24px !important;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .alumni-image {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
