.booking {
    .login-card-wrapper {
        max-width: 1000px;
        margin: {
            left: auto;
            right: auto;
        }
        h3 {
            line-height: 39px;
            font: {
                weight: 700px;
                size: 30px;
                family: var(--primaryFont);
            }
            margin-bottom: 32px;
        }

        form {
            padding: {
                left: 120px;
                right: 120px;
                top: 32px;
            }

            .form-group-wrapper {
                padding-bottom: 10px;
                margin-bottom: 20px;

                border-bottom: 1px solid var(--textColor);

                input {
                    border: 1px solid var(--textColor) !important;
                    border-radius: 8px !important;
                    background-color: #f1f5f9 !important;
                }
                .show-pass {
                    margin-bottom: 16px;
                    border: 1px solid var(--textColor);
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: first baseline;
                    input {
                        padding: 5px 0 0 10px;
                        border: none !important;
                    }
                    iconify-icon {
                        margin-top: 20px;
                        margin-right: 10px;
                    }
                }
                .default-button {
                    text-align: center;
                    display: block;
                    margin-bottom: 20px;
                    iconify-icon {
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
}
