.booking {
    .booking-card-wrapper {
        padding-bottom: 10px;
        margin-bottom: 20px;

        border-bottom: 1px solid var(--textColor);
        h3 {
            margin: {
                top: 50px;
                bottom: 20px;
            }
            text-align: center;
            line-height: 39px;
            font: {
                size: 30px;
                family: var(--primaryFont);
                weight: 700;
            }
        }
        p {
            color: var(--textColor);
            a {
                padding-left: 10px;
                color: var(--yellowColor);
                &:hover {
                    color: var(--yellowColor);
                }
            }
        }
        .booking-wrapper {
            .form-group {
                .form-control {
                    background-color: #f1f5f9 !important;

                    &:focus {
                        background-color: #f1f5f9 !important;
                    }
                }
            }
            .default-button {
                display: block !important;
            }
        }
    }
}
