.child-protection {
  h3 {
    font-size: 36px;
    font-weight: 700;
    color: #0f172a;
    padding-bottom: 20px;
  }
  p {
    color: #475569;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  .protecting-children {
    h5 {
      color: #475569;
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
    }

    .child-protection-img {
      border-radius: 10px 10px 10px 10px;
      position: relative;
      height: 100%;
      img {
        display: none;
      }
      background: {
        image: url("../images/about-details-bg.jpg");
        size: cover;
        repeat: no-repeat;
        position: top left;
      }
    }
  }
  .policy-link {
    h6 {
      color: var(--blueColor);
      font-size: 28px;
      padding: 0 0 20px 0;
    }
    ul {
      list-style-type: none;
      padding: {
        top: 0;
        bottom: 0;
        left: 10%;
        right: 0;
      }

      li {
        position: relative;
        padding-left: 12px;
        margin-bottom: 6px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          background-color: var(--blueColor);
          outline-offset: 3px;
          outline: 1px solid var(--blueColor);
          margin-left: -21px;
        }
        a {
          color: var(--yellowColor);
          text-decoration: underline;
          font-size: 20px;
          line-height: 20px;
        }
        span {
          color: var(--blueColor);
          font-size: 20px;
          font-weight: 600;
          padding-left: 1%;
        }
      }
    }
  }
}
