.co-curricular {
    .co-curricular-wrapper {
        h3 {
            color: var(--headerColor);
            font: {
                family: var(--primaryFont);
                size: 36px;
                weight: 700;
            }
            line-height: 43.2px;
        }

        .co-curricular-wrapper-text {
            padding-top: 40px;
            p {
                color: var(--textColor);
                font: {
                    size: 18px;
                    family: var(--primaryFont);
                }

                line-height: 27px;
            }
            h5 {
                color: var(--headerColor);
                font: {
                    family: var(--primaryFont);
                    size: 24px;
                    weight: 600;
                }
                line-height: 32px;
                padding-bottom: 15px;
            }
        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .side-card-wrapper {
        padding-top: 50px;
    }
    .co-curricular {
        .co-curricular-wrapper {
            h3 {
                font: {
                    size: 26px;
                }
                line-height: 35.2px;
            }

            .co-curricular-wrapper-text {
                padding-top: 20px;
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
                h5 {
                    font: {
                        size: 20px;
                    }
                    line-height: 20px;
                    padding-bottom: 10px;
                }
            }

            .video-banner-image {
                padding-top: 25px;
                .video-banner {
                    height: 350px;
                    .play-btn {
                        height: 63px;
                        width: 63px;
                        font-size: 30px;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        iconify-icon {
                            position: relative;
                            z-index: 2;
                        }

                        &::before {
                            content: "";
                            width: 150%;
                            height: 150%;
                            border-radius: 50%;
                            background-color: var(--blueColor);
                            opacity: 0.4;
                            animation: plusAnimate 2s linear infinite;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }

                        &::after {
                            content: "";
                            width: 190%;
                            height: 190%;
                            border-radius: 50%;
                            background-color: var(--blueColor);
                            animation: plusAnimate 5s linear infinite;
                            opacity: 0.2;
                            transition-delay: 0.3s;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                    }
                }
                .caption {
                    padding-top: 10px;
                    h6 {
                        font: {
                            size: 18px;
                            weight: 600;
                            family: var(--primaryFont);
                        }
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .side-card-wrapper {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
