.enrollment {
    p {
        color: var(--textColor);
        font: {
            size: 18px;
            family: var(--primaryFont);
        }

        line-height: 27px;
        a {
            color: var(--yellowColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h3 {
        color: var(--headerColor);
        font: {
            weight: 700;
            size: 36px;
            family: var(--primaryFont);
        }
        line-height: 43.2px;
    }
    .enrollment-image {
        width: 100%;
        img {
            border-radius: 8px;
        }
    }
    .enrollment-content-wrapper {
        margin-top: 50px;

        .enrollment-content-single {
            margin-top: 48px;
            h4 {
                color: var(--headerColor);
                font: {
                    size: 30px;
                    weight: 700;
                    family: var(--primaryFont);
                }
                line-height: 39px;
            }

            h6 {
                color: var(--headerColor);
                font: {
                    size: 24px;
                    weight: 600;
                    family: var(--primaryFont);
                }
                line-height: 32px;
            }
        }
        .enrollment-content-small {
            margin-top: 20px;

            .default-button {
                margin-top: 10px;
                margin-bottom: 10px;
                border: 1px solid gray !important;
            }
            h6 {
                color: var(--headerColor);
                font: {
                    size: 24px;
                    weight: 600;
                    family: var(--primaryFont);
                }
                line-height: 32px;
            }
        }
        .enrollment-content-email {
            margin-top: 48px;
            background-color: #f1f5f9;
            padding: 32px;
            text-align: center;
            border-radius: 8px;
            p {
                text-align: left;
            }
            .default-button {
                margin-top: 20px;
                text-align: center;
                line-height: 21px;
                font: {
                    weight: 600;
                    size: 18px;
                    family: var(--primaryFont);
                }
                iconify-icon {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .enrollment {
        h3 {
            font: {
                size: 30px;
            }
            line-height: 30px;
        }
        P {
            font-size: 14px;
            line-height: 22px;
        }
        .enrollment-content-wrapper {
            .enrollment-content-single {
                margin-top: 30px;
                h4 {
                    font-size: 24px;
                    line-height: 20px;
                    margin-bottom: 15px;
                }
            }
            .enrollment-content-small {
                p {
                    font-size: 14px;
                    font-family: var(--primaryFont);
                    line-height: 24px;
                    a {
                        color: var(--yellowColor);
                    }
                }
            }
            .enrollment-content-email {
                p {
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
