.information {
    .school-info {
        border-bottom: 1px solid var(--blueColor);
        padding-bottom: 32px;
        margin-bottom: 10px;
        h6 {
            line-height: 30px;
            color: var(--headerColor);
            font: {
                size: 20px;
                weight: 700;
                family: var(--primaryFont);
            }
            span {
                font-weight: 400;
            }
        }
        p {
            line-height: 27px;
            color: var(--textColor);
            font: {
                size: 18px;
                weight: 400;
                family: var(--primaryFont);
            }
            span {
                font-weight: 400;
            }
        }
    }
    .designation-info-wrapper {
        border-bottom: 1px solid var(--blueColor);
        padding-bottom: 32px;
        .designation-info {
            margin-top: 24px;
            h6 {
                margin-bottom: 5px;
                line-height: 30px;
                color: var(--headerColor);
                font: {
                    size: 20px;
                    weight: 700;
                    family: var(--primaryFont);
                }
            }
            p {
                margin-bottom: 5px;
                line-height: 27px;
                color: var(--textColor);
                font: {
                    size: 18px;
                    weight: 500;
                    family: var(--primaryFont);
                }
                span {
                    font-weight: 400;
                }
            }
            a {
                color: var(--yellowColor);
                text-decoration: none;
                line-height: 24px;
                font: {
                    size: 16px;
                    weight: 400;
                    family: var(--primaryFont);
                }
            }
        }
    }
    .accridation {
        border-bottom: 1px solid var(--blueColor);
        padding-bottom: 32px;
        margin-top: 24px;
        h6 {
            margin-bottom: 5px;
            line-height: 30px;
            color: var(--headerColor);
            font: {
                size: 20px;
                weight: 700;
                family: var(--primaryFont);
            }
        }
        p {
            margin-bottom: 5px;
            line-height: 27px;
            color: var(--textColor);
            font: {
                size: 18px;
                weight: 400;
                family: var(--primaryFont);
            }
            a {
                color: var(--textColor);
                &:hover {
                    color: var(--textColor);
                }
            }
        }
    }
    .diploma-subject {
        margin-top: 24px;
        .diploma-subject-single {
            margin-top: 20px;
            h5 {
                line-height: 30px;
                color: var(--headerColor);
                font: {
                    size: 20px;
                    weight: 700;
                    family: var(--primaryFont);
                }
            }
            h6 {
                margin-bottom: 5px;
                line-height: 30px;
                color: var(--headerColor);
                font: {
                    size: 18px;
                    weight: 600;
                    family: var(--primaryFont);
                }
            }
            p {
                margin-bottom: 5px;
                line-height: 27px;
                color: var(--textColor);
                font: {
                    size: 18px;
                    weight: 500;
                    family: var(--primaryFont);
                }
                span {
                    font-weight: 400;
                }
            }
        }
    }
    .info-image {
        margin-top: 50px;
    }
    .offer-admission {
        margin-top: 50px;
        h3 {
            color: var(--headerColor);
            font: {
                size: 36px;
                weight: 700;
                family: var(--primaryFont);
            }

            line-height: 43.2px;
        }
        h6 {
            line-height: 30px;
            color: var(--textColor);
            font: {
                size: 20px;
                weight: 700;
                family: var(--primaryFont);
            }
            span {
                color: var(--headerColor);
            }
        }
        h5 {
            margin-bottom: 5px;
            line-height: 32px;
            color: var(--headerColor);
            font: {
                size: 24px;
                weight: 700;
                family: var(--primaryFont);
            }
        }
        .offer-admission-card {
            h6 {
                line-height: 30px;
                color: var(--headerColor);
                font: {
                    size: 20px;
                    weight: 700;
                    family: var(--primaryFont);
                }
                span {
                    color: var(--headerColor);
                }
            }
            border: 1px solid var(--headerColor);
            padding: 10px;
            border-radius: 8px;
            margin-top: 20px;

        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .information {
        .school-info {
            border-bottom: 1px solid var(--blueColor);
            padding-bottom: 32px;
            margin-bottom: 10px;
            h6 {
                line-height: 20px;
                font-size: 16px;
            }
            p {
                line-height: 22px;
                color: var(--textColor);
                font-size: 14px;
            }
        }
        .designation-info-wrapper {
            padding-bottom: 20px;
            .designation-info {
                margin-top: 24px;
                h6 {
                    line-height: 20px;
                    font-size: 18px;
                }
                p {
                    line-height: 22px;
                    color: var(--textColor);
                    font-size: 14px;
                }
                a {
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }
        .accridation {
            padding-bottom: 20px;
            margin-top: 24px;
            h6 {
                line-height: 24px;
                font: {
                    size: 20px;
                }
            }
            p {
                margin-bottom: 5px;
                line-height: 24px;
                font: {
                    size: 14px;
                }
            }
        }
        .diploma-subject {
            margin-top: 24px;
            .diploma-subject-single {
                margin-top: 20px;
                h5 {
                    line-height: 30px;
                    color: var(--headerColor);
                    font: {
                        size: 20px;
                        weight: 700;
                        family: var(--primaryFont);
                    }
                }
                h6 {
                    margin-bottom: 5px;
                    line-height: 20px;
                    color: var(--headerColor);
                    font-size: 16px;
                }
                p {
                    margin-bottom: 5px;
                    line-height: 20px;
                    color: var(--textColor);
                    font: {
                        size: 14px;
                    }
                }
            }
        }
        .info-image {
            margin-top: 50px;
        }
        .offer-admission {
            margin-top: 50px;
            h3 {
                font-size: 24px;
                line-height: 26px;
            }
            h6 {
                line-height: 24px;
                color: var(--textColor);
                font-size: 16px;
            }
            h5 {
                margin-bottom: 5px;
                line-height: 26px;
                font-size: 18px;
            }
            .offer-admission-card {
                h6 {
                    line-height: 20px;
                    color: var(--textColor);
                    font-size: 18px;
                }
                border: 1px solid var(--headerColor);
                padding: 10px;
                border-radius: 8px;
                margin-top: 20px;
            }
        }
        .co-curricular-wrapper {
            margin-top: 30px;
            .co-curricular-wrapper-text {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
