.leadership {
    h3 {
        text-align: center;
        line-height: 43.2px;
        color: var(--headerColor);
        font: {
            size: 36px;
            weight: 700;
            family: var(--primaryFont);
        }
        margin-bottom: 50px;
    }

    .card-group-wrapper {
        margin-top: 32px;
        .card-image {
            image {
                width: 50%;
            }
        }
        .card-text {
            margin-top: 30px;
            position: relative;
            border: 1px solid rgba(41, 66, 105, 0.3);
            border-radius: 4px;
            padding: 24px;
            .card-about {
                padding: 0px 20px;
                border-radius: 4px;
                background-color: #ffffff;
                border: 1px solid rgba(41, 66, 105, 0.3);
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50px);

                p {
                    padding-top: 0;
                }
            }
            p {
                text-align: center;
                padding-top: 10px;
                font-family: var(--primaryFont);
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}
