.leadership {
  h3 {
    text-align: center;
    line-height: 43.2px;
    color: var(--headerColor);
    font: {
      size: 36px;
      weight: 700;
      family: var(--primaryFont);
    }
    margin-bottom: 50px;
  }

  .card-group-wrapper {
    margin-top: 32px;
    .card-image {
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        transition: 0.5s ease-in-out;
        background-image: linear-gradient(
          180.5deg,
          rgba(41, 66, 105, 0),
          rgba(41, 66, 105, 0),
          rgba(41, 66, 105, 0.411),
          #294269
        );
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
      }
      .team-intro {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        transition: 0.5s ease-in-out;
        padding: {
          left: 24px;
          bottom: 20px;
        }

        h4 {
          margin-bottom: 0px;
          color: var(--whiteColor);
          font: {
            size: 24px;
            weight: 400;
            family: var(--primaryFont);
          }
        }

        p {
          color: #ffffffbd;
          font: {
            size: 18px;
            weight: 400;
            family: var(--primaryFont);
          }
        }
      }
    }
    .card-text {
      margin-top: 20px;
      position: relative;
      transition: 0.5s ease-in-out;
      border: 1px solid rgba(41, 66, 105, 0.3);
      border-radius: 4px;
      padding: 24px;
      // .card-about {
      //     padding: 0px 20px;
      //     border-radius: 4px;
      //     transition: 0.5s ease-in-out;
      //     background-color: #ffffff;
      //     border: 1px solid rgba(41, 66, 105, 0.3);
      //     position: absolute;
      //     top: -15px;
      //     left: 50%;
      //     transform: translateX(-50px);

      //     p {
      //         padding-top: 0;
      //         transition: 0.5s ease-in-out;
      //     }
      // }
      p {
        text-align: left;
        padding-top: 10px;
        font-family: var(--primaryFont);
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }

    &:hover {
      //   .card-image {
      //     &::before {
      //       height: 100%;
      //     }
      //     .team-intro {
      //       opacity: 1;
      //     }
      //   }
      .card-text {
        border-color: var(--blueColor);
        .card-about {
          background-color: var(--blueColor);
          p {
            color: var(--whiteColor);
          }
        }
      }
    }
  }
}

//responsive
@media only screen and (max-width: 767px) {
  .leadership {
    h3 {
      line-height: 15px;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .card-group-wrapper {
      .card-image {
        &::before {
          height: 50%;
        }
        .team-intro {
          opacity: 1;
          h4 {
            margin-bottom: 8px;
            color: var(--whiteColor);
            font-size: 16px;
            font-weight: 400;
            font-family: var(--primaryFont);
          }
          p {
            font-size: 14px;
            line-height: 15px;
          }
        }
      }
      .card-text {
        padding: 10px;
        margin-top: 20px;
        p {
          padding-top: 0px;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .leadership {
    h3 {
      line-height: 15px;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .card-group-wrapper {
      .card-image {
        &::before {
          height: 50%;
        }
        .team-intro {
          opacity: 1;
          h4 {
            margin-bottom: 8px;
            color: var(--whiteColor);
            font-size: 16px;
            font-weight: 400;
            font-family: var(--primaryFont);
          }
          p {
            font-size: 16px;
            line-height: 17px;
          }
        }
      }
      .card-text {
        padding: 10px;
        margin-top: 20px;
        p {
          padding-top: 0px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
