.slider-card-wrapper {
    margin-bottom: 50px;
    position: relative;
    .slider-card-single {
        position: relative;
        .news-content-card {
            width: 85%;
            padding: 10px;
            color: #ffff;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.35);
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 5;
            h4 {
                color: var(--whiteColor);
                line-height: 24px;
                font: {
                    weight: 700;
                    size: 18px;
                    family: var(--primaryFont);
                }
            }
            p {
                color: var(--whiteColor);
                margin-bottom: 10px;
                line-height: 21px;
                font: {
                    weight: 500;
                    size: 12px;
                    family: var(--primaryFont);
                }
            }
            a {
                color: var(--yellowColor);
                line-height: 20px;
                font: {
                    weight: 700;
                    size: 14px;
                    family: var(--primaryFont);
                }

                iconify-icon {
                    line-height: 20px;
                    margin-left: 10px;
                    position: relative;
                    top: 3px;
                    font: {
                        weight: 700;
                        size: 14px;
                        family: var(--primaryFont);
                    }
                }
                &:hover {
                    a {
                        color: var(--yellowColor);
                        line-height: 20px;
                        font: {
                            weight: 700;
                            size: 14px;
                            family: var(--primaryFont);
                        }
                        iconify-icon {
                            position: relative;
                            margin-left: 10px;
                            line-height: 20px;
                            top: 3px;
                            font: {
                                weight: 700;
                                size: 14px;
                                family: var(--primaryFont);
                            }
                        }
                    }
                }
            }
        }
        span {
            padding-top: 8px;
            color: #ffff;
            position: absolute;
            background-color: var(--blueColor);
            height: 60px;
            width: 60px;
            border-radius: 4px;
            line-height: 22px;
            text-align: center;
            
            top: 20px;
            right: 20px;

            font: {
                weight: 700;
                size: 16px;
                family: var(--primaryFont);
            }
        }
    }
    .owl-nav  {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        button {
            width: 36px;
            height: 36px;
            position: absolute;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var(--whiteColor) !important;
            background-color: var(--blueColor) !important;
            iconify-icon {
                font-size: 24px;
            }
        }

        .owl-prev {
            left: -50px;
        }
        .owl-next {
            right: -50px;
        }
    }
}








.lis-news-image {
    margin-top: 32px;
    margin-bottom: 70px;
}
.lis-news-info-wrapper {
    background-color: #ffff;
    box-shadow: 0px 2px 4px rgba(41, 66, 105, 0.15);
    display: flex;
    padding: {
        top: 15px;
        left: 20px;
        bottom: 30px;
    }
    .lis-news-info-single {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
