.myp {
    .myp-wrapper {
        h3 {
            color: var(--headerColor);
            font: {
                family: var(--primaryFont);
                size: 36px;
                weight: 700;
            }
            line-height: 43.2px;
        }
        .myp-wrapper-text {
            padding-top: 40px;
            p {
                color: var(--textColor);
                font: {
                    size: 18px;
                    family: var(--primaryFont);
                }

                line-height: 27px;
                span {
                    color: var(--yellowColor);
                }
            }
            h5 {
                color: var(--headerColor);
                padding: 15px 0;
                font: {
                    family: var(--primaryFont);
                    size: 24px;
                    weight: 600;
                }
                line-height: 32px;
            }
            h6 {
                font: {
                    size: 20px;
                    weight: 600;
                    family: var(--primaryFont);
                }
                line-height: 30px;
            }
        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .myp {
        .myp-wrapper {
            h3 {
                font-size: 26px;
                line-height: 30px;
            }
            .myp-wrapper-text {
                h5 {
                    padding: 15px 0;
                    font-size: 20px;
                    line-height: 26px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 991px) {
    .side-card-wrapper {
        padding-top: 50px;
    }
}
