.pyp {
    .pyp-wrapper {
        h3 {
            color: var(--headerColor);
            font: {
                family: var(--primaryFont);
                size: 36px;
                weight: 700;
            }
            line-height: 43.2px;
        }

        .pyp-wrapper-text {
            padding-top: 40px;
            p {
                color: var(--textColor);
                font: {
                    size: 18px;
                    family: var(--primaryFont);
                }

                line-height: 27px;
            }
            h5 {
                color: var(--headerColor);
                font: {
                    family: var(--primaryFont);
                    size: 24px;
                    weight: 600;
                }
                line-height: 32px;
            }
        }
        .pyp-wrapper-list {
            padding-top: 32px;
            h6 {
                color: var(--headerColor);
                font: {
                    family: var(--primaryFont);
                    size: 20px;
                    weight: 600;
                }
                line-height: 30px;
            }
            .list-style {
                list-style-type: none;

                li {
                    a {
                        color: var(--blueColor) !important;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
                        a {
                            color: var(--yellowColor) !important;
                            text-decoration: underline;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .pyp {
        .pyp-wrapper {
            h3 {
                font-size: 26px;
            }
            line-height: 30px;
            .pyp-wrapper-text {
                padding-top: 20px;
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
                h5 {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            .pyp-wrapper-list {
                padding-top: 20px;
                h6 {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 991px) {
    .side-card-wrapper {
        padding-top: 50px;
    }
}
