.side-card-wrapper {
    .video-card {
        background-color: var(--cardBg);
        padding: 32px;
        border-radius: 4px;

        .video-card-image {
            background: url(../../../assets/images/sidecard/video-bg-solar-card.jpg);
            background-size: cover;
            height: 220px;
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
            .play-btn {
                height: 55px;
                width: 55px;
                border: none;
                font-size: 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--blueColor);
                color: var(--whiteColor);
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                iconify-icon {
                    position: relative;
                    z-index: 2;
                }

                &::before {
                    content: "";
                    width: 150%;
                    height: 150%;
                    border-radius: 50%;
                    background-color: rgba($color: #294269, $alpha: 1);
                    animation: plusAnimate 2s linear infinite;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                }

                &::after {
                    content: "";
                    width: 190%;
                    height: 190%;
                    border-radius: 50%;
                    background-color: rgba($color: #294269, $alpha: 1);
                    animation: plusAnimate 3s linear infinite;
                    transition-delay: 0.3s;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                }
            }
        }
        .video-card-text {
            padding-top: 24px;
            h3 {
                color: var(--headerColor);
                line-height: 32px;

                font: {
                    size: 22px;
                    weight: 700;
                    font-family: var(--primaryFont);
                }
                a {
                    color: var(--headerColor);
                }
                &:hover {
                    color: var(--textColor);
                }
            }
            .default-button {
                text-align: center;
                display: block;
                iconify-icon {
                    position: relative;
                    top: 5px;
                }
            }
        }
        .video-card-social {
            padding: {
                top: 32px;
            }
            h3 {
                color: var(--headerColor);
                text-align: left;
                line-height: 30px;
                font: {
                    weight: 600;
                    size: 20px;
                    family: var(--primaryFont);
                }
            }
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                padding-bottom: 48px;
                li {
                    margin: 0 6px;
                    a {
                        padding: 10px;
                        color: var(--blueColor);
                        background-color: var(--whiteColor);
                        line-height: 0px;
                        border-radius: 4px;
                        &:hover {
                            transition: 0.4s ease-in-out;
                            background-color: var(--blueColor);
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            p {
                border-top: 1px solid var(--textColor);
                padding-top: 24px;
                font: {
                    size: 14px;
                    weight: 400;
                    family: var(--primaryFont);
                }
                a {
                    padding-left: 15px;
                    iconify-icon {
                        margin-right: 4px;
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
    }
    .blog-card {
        background-color: var(--cardBg);
        padding: 32px;
        border-radius: 4px;
        margin-top: 30px;

        .blog-card-image {
            width: 100%;
            padding-bottom: 24px;

            img {
                width: 100%;
                border-radius: 4px;
            }
        }
        .blog-card-text {
            position: relative;
            .blog-date {
                right: 12px;
                top: -60px;
                position: absolute;
                background-color: var(--whiteColor);
                border-radius: 4px;
                max-width: 72px;
                text-align: center;
                padding: 5px 6px;
                color: var(--headerColor);
                font: {
                    weight: 900;
                    size: 14px;
                    family: var(--primaryFont);
                }
                box-shadow: 0 2px 5px rgb(41, 66, 105, 0.2);
            }
            h3 {
                color: var(--headerColor);
                line-height: 32px;

                font: {
                    size: 22px;
                    weight: 600;
                    family: var(--primaryFont);
                }

                a {
                    color: var(--headerColor);
                    &:hover {
                        color: var(--textColor);
                    }
                }
            }
            p {
                color: var(--textColor);
                font: {
                    size: 16px;
                    family: var(--primaryFont);
                }
                line-height: 27px;
            }

            p {
                a {
                    color: #f09020;
                    font: {
                        weight: 600;
                        size: 16px;
                        family: var(--primaryFont);
                    }
                    line-height: 27px;
                }
            }
        }
    }
}

@keyframes plusAnimate {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//responsive
@media only screen and (max-width: 767px) {
    .side-card-wrapper {
        padding-top: 10px !important;

        .video-card {
            .video-card-image {
                height: 185px;
            }
            padding: 16px;
            .video-card-text {
                padding-top: 15px;
                h3 {
                    line-height: 30px;
                    padding-bottom: 10px;
                }
                .video-card-social {
                    padding-top: 20px;

                    h3 {
                        line-height: 20px;
                        font-weight: 600;
                        font-size: 18px;
                    }
                    ul {
                        padding-bottom: 20px;
                        li {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        .blog-card {
            background-color: var(--cardBg);
            padding: 16px;
            border-radius: 4px;
            margin-top: 15px;
            .blog-card-image {
                padding-bottom: 15px;
            }
            .blog-card-text {
                .blog-date {
                    right: 8px;
                    top: -50px;
                    max-width: 72px;
                    font-weight: 900;
                    font-size: 12px;
                }
                h3 {
                    line-height: 24px;
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    a {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-card-text {
        padding-top: 15px;
        h3 {
            line-height: 30px;
            padding-bottom: 10px;
        }
        .video-card-social {
            padding-top: 20px;

            h3 {
                line-height: 20px;
                font-weight: 600;
                font-size: 18px;
            }
            ul {
                padding-bottom: 20px;
                li {
                    margin: 0 10px;
                    a {
                        padding: 20px;
                        iconify-icon {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
