.site-map {
    h3 {
        line-height: 43.2px;
        color: var(--headerColor);
        font: {
            family: var(--primaryFont);
            size: 36px;
            weight: 700;
        }
    }
    h6 {
        padding-left: 10px;
        line-height: 32px;
        color: var(--headerColor);
        font: {
            family: var(--primaryFont);
            size: 24px;
            weight: 700;
        }
    }
    .site-map-single-wrapper {
        margin-top: 50px;
        .site-map-single {
            margin-bottom: 50px;
            padding-top: 20px;
            border-left: 30px solid var(--blueColor);
            ul {
                list-style-type: none;
                padding-left: 40px;
                color: #294269;

                li {
                    position: relative;
                    padding-left: 30px;
                    margin-top: 6px;
                    line-height: 30px;
                    font: {
                        size: 20px;
                        weight: 400;
                        family: var(--primaryFont);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 12px;
                        left: 0;
                        border-radius: 1px;
                        width: 10px;
                        height: 10px;
                        background-color: var(--blueColor);
                        outline-offset: 3px;
                        outline: 1px solid var(--blueColor);
                    }
                    a {
                        &:hover {
                            color: var(--yellowColor);
                            a {
                                color: var(--yellowColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
