.social-media {
  h3 {
    color: var(--headerColor);
    font: {
      size: 36px;
      weight: 700;
      family: var(--primaryFont);
    }

    line-height: 43.2px;
  }
  p {
    font: {
      size: 24px;
      weight: 600;
      family: var(--primaryFont);
    }

    line-height: 32px;
  }
  .social-media-frame {
    height: 50vh;
    width: 100%;
    background-color: var(--blueColor);
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    margin: {
      top: 45px;
      bottom: 70px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #f1f5f9;
    }
    .twitter-timeline {
      width: 100%;
      overflow: auto;
    }
  }
  .social-follow-buttons {
    h3 {
      color: var(--headerColor);
      font: {
        size: 36px;
        weight: 700;
        family: var(--primaryFont);
      }

      line-height: 43.2px;
    }
    ul {
      display: flex;
      list-style: none;
      margin-left: 100px;
      li {
        transition: 0.4s ease-in-out;
        margin: 15px;
        background-color: #f1f5f9;

        border-radius: 50%;
        color: var(--textColor);
        font-size: 30px;
        &:hover {
          background-color: var(--blueColor);

          a {
            text-decoration: none;
            color: #f1f5f9;
          }
        }
        a {
          position: relative;
          height: 56px;
          width: 56px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//responsive
@media only screen and (max-width: 767px) {
  .social-media {
    h3 {
      font-size: 26px;
      line-height: 30px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }
    .social-media-frame {
      margin: {
        top: 25px;
        bottom: 40px;
      }
    }
    .social-follow-buttons {
      h3 {
        font-size: 26px;
        line-height: 30px;
      }
      ul {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
}
